* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 100px;
  font-size: small;
}
.logo h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 10;
  background: linear-gradient(180deg, aquamarine 59%, #fff 50%);
}
.links {
  flex: 1;
  display: flex;
  justify-content: center;
}
.burger {
  margin-right: 20px;
}
.links a {
  display: flex;
  justify-content: space-between;
  width: 60px;
  padding: 0.2em;
  text-decoration: none;
}

.getintouch {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: larger;
  padding: 1em;
}
.getintouch a {
  background-color: black;
}
.font-awesome {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.font-awesome i {
  border-radius: 50%;
  padding: 0.3em;
  box-shadow: 1px 5px 1px black;
}
.two {
  text-align: center;
  padding: 2em;
}
.two h1 {
  color: #fff;
  font-weight: 100;
  background-color: black;
}
.two h1 span {
  color: aquamarine;
}
.grid {
  display: grid;
  grid-gap: 2em;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid i {
  font-size: 150px;
  color: aquamarine;
}
.three {
  display: grid;
  place-items: center;
  padding: 2em;
}
.three form * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
}
form input,
textarea {
  margin: 10px;
  padding: 1em;
  outline: none;
  border-radius: 20px;
}
form button {
  border-radius: 20px;
}
/* form input[type="text"]:hover {
  border-bottom: 1px solid gold;
} */
@media (min-width: 40em) {
  .headtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-around;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .project {
  }
  .project img {
    height: 200px;
  }
  .getintouch {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }
  .getintouch a {
    color: #fff;
    padding: 0.3em 0.8em;
    border-radius: 0.6em;
  }
  .font-awesome {
    width: 30%;
  }
  .font-awesome i {
    border-radius: 50%;
    padding: 0.3em 0.3em;
    box-shadow: 1px 5px 1px black;
    transition: 0.6s;
  }
  .font-awesome i:hover {
    transform: translateY(-10px);
  }
}

@media (max-width: 40em) {
  body {
  }
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .container {
  }
  .logo {
    justify-content: start;
  }
  .headtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 3em;
    margin-top: 3em;
  }
  .headtext h1 {
    padding-left: 1em;
  }
  .headtext p {
    font-size: 20px;
  }
  .getintouch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    width: 400px;
  }
  .getintouch a {
    color: #fff;
    padding: 0.6em 0.8em;
    border-radius: 0.6em;
  }
  .getintouch i {
    margin-left: 0.5em;
  }
  .font-awesome {
    display: flex;
    padding: 0.2em;
    justify-content: space-evenly;
  }
  .font-awesome i {
    border-radius: 50%;
    padding: 0.3em 0.3em;
    box-shadow: 1px 5px 1px black;
    transition: 0.6s;
  }
  .font-awesome i:hover {
    transform: translateY(-10px);
  }
  .active {
    display: none;
  }
  .links {
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 200px;
    top: 0;
    left: 0;
    display: inherit;
    transform: translateY(60px);
    background-color: black;
  }
  .links a {
    font-size: 25px;
    opacity: 0.8;
  }

  .burger div {
    display: block;
    width: 20px;
    height: 5px;
    margin: 3px;
    cursor: pointer;
    background-color: green;
  }
  details summary {
    outline: none;
  }
  .burger details > summary::-webkit-details-marker {
    display: none;
  }
  .project img {
    padding: 0.5em;
    height: 200px;
  }
}
